* {
  font-family: "Quicksand", sans-serif;
}

body {
  min-height: 3000px;
}

#bg-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box-login {
  width: 300px;
  min-height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
}

.box-login h2 {
  text-align: center;
  margin-bottom: 15px;
}

.input-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px 0;
}
.navbar .nav-link {
  font-size: 20px;
}

.header {
  background-image: url("../img/jumb.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
}
.description {
  position: absolute;
  opacity: 50%;
  top: 45%;
  margin: auto;
  background: #ffff;
  padding: 2em;
}
.description h1 {
  color: #000;
}
.description button {
  border: 1px solid #ee4002;
  background: #ee4002;
  color: #fff;
}

.about {
  margin: 4em 0;
  padding: 1rem;
  position: relative;
}
.about .about-me {
  color: #ee4002;
  margin: 1.5em;
  margin-top: 3.5em;
}
.about img {
  height: 100%;
  width: 100%;
}
.about span {
  display: block;
  color: #ee4002;
  left: 115px;
}
.about .desc {
  padding: 2em;
  border-left: 5px solid #ee4002;
}
.about .desc h3 {
  color: #ee4002;
}
.about .desc p {
  line-height: 2;
  color: #888;
}

.product {
  background-color: #f6f7f6;
  padding: 1rem;
  height: 900px;
}
.product .our-product {
  color: #ee4002;
  margin: 1.5em;
  margin-top: 3.5em;
}

.contact {
  height: 775px;
  padding: 20px;
}
.contact .cont {
  color: #ee4002;
  margin: 1.5em;
  margin-top: 3.5em;
}
