@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #343a40;
  color: #fff;
}
.jumbotron img {
  background-color: #343a40;
}
#projects {
  background-color: #343a40;
  color: #fff;
}

.projects .card img {
  width: 500px;
}
.navbar {
  background-color: #222126;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
section {
  padding-top: 5rem;
}
.jumbotron h2 {
  font-size: xx-large;
  color: black;
  display: inline;
}
.jumbotron .textAbove {
  color: red;
  font-weight: 500;
}
.btn-resume {
  width: 250px;
  height: 60px;
  border: none;
  color: #fff;
  background-color: #222126;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 red;
  transition: ease-out 0.3s;
  font-size: 1.5rem;
  outline: none;
  margin-top: 2rem;
}

.btn-resume:hover {
  box-shadow: inset 300px 0 0 0 red;
  color: #222126;
  width: 300px;
}
.intro h2 {
  color: #fff;
}
.typeText::after {
  content: "|";
  animation: none;
  color: #fff;
}

.showAnim.typeText::after {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.modal img {
  max-width: 760px;
}
@media (max-width: 670px) {
  .modal img {
    width: 100%;
  }
}
.contact {
  min-height: 775px;
  padding: 15px;
}
.contact .form-submit {
  margin-bottom: 3em;
}
.contact .form-label {
  margin-top: 10px;
}
.contact .map-wrapper {
  max-width: 450px;
  max-height: 200px;
  margin-top: 2em;
}

.maps {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}
footer {
  background-color: #222126;
}
